<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/Assets/css/burger_style.css" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">   
    <head>
		<title>Eat-Da-Burger</title>
	</head>

<p class="aligncenter">
    <img src="Assets/img/Eat-Da-Burger-Logo-Blue.png" alt = "logo"><br>
    <img src="Assets/img/Colorful-Burgers-2.png" alt = "burgers">
</p>

  <body>
		{{{ body }}}
	</body>
</html>