body {
    background-color: lightslategray;
    width: 100%;
     }

.aligncenter {
    text-align: center;
    }

.burgerName, .textArea, .devoured {
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    margin-left:40px;
}

.order {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    margin-left: 675px;
    margin-top: 40px;
}

.eatburger, .change-devoured {
    border: 2px solid black;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 16px;
    margin-left: 10px;
    background-color: red;
    color: black;
    margin-bottom: 5px;
    
}

.trashburger {
    border: 2px solid black;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 16px;
    margin-left: 10px;
    background-color: yellow;
    color: black;
    margin-bottom: 5px;
}

.orderBtn {
    font-family: 'Luckiest Guy', cursive;
    font-size: 16px;
    margin-left: 180px;
    margin-top: 5px;
    background-color: limegreen;
    color: black;
}

.textArea {
    margin-left: 100px;
    margin-top: 25px;
}

.orderList {
    float: left;
}

.devourList {
    float: right;
    margin-top: -170px;
    margin-right: 245px;
}

