body {
    background-color: lightslategray;
    width: 100%;
     }

div {
    display: inline-block;
    width: 700px;
    vertical-align: top;
    margin-top: 30px;
    }
    
.aligncenter {
    text-align: center;
    }

.orderedTitle {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;

    }
    
.burgerName {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    margin-left: 110px;

}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    margin-left:40px;
}

.orderTitle {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    margin-left: 645px;
   }

.textArea {
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
    margin-left: 570px;
    margin-top: -15px;
}

.orderBtn {
    font-family: 'Luckiest Guy', cursive;
    font-size: 16px;
    margin-left:680px;
    margin-top: 5px;
    background-color: limegreen;
    color: black;
}

.eatburger, .change-devoured {
    border: 2px solid black;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 16px;
    margin-left: 10px;
    background-color: red;
    color: black;
    margin-bottom: 5px;
    
}

.trashburger {
    border: 2px solid black;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 16px;
    margin-left: 10px;
    background-color: yellow;
    color: black;
    margin-bottom: 5px;
}



.devoured  {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
 

}

.devouredTitle  {
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;

  
}

